body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* gimmic */
img.lock{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 1;
}
img.unlock{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 0;
}
img.lock3{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 1;
}
img.unlock3{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 0;
}
img.lock4{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 1;
}
img.unlock4{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 0;
}
img.lock5{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 1;
}
img.unlock5{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 0;
}
img.lock6{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 1;
}
img.unlock6{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  right: 30%;
  cursor: pointer;
  opacity: 0;
}
/* gimmic */
.content-bt{
  padding-top: 35%;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.froglogo{
  position: absolute;
  top: 10%;
  left: 1.5%;
  width: 12vw;
}
.teamlogo{
  position: absolute;
  top: 25%;
  left: 90%;
  height: 5vh;
  width: 5vw;
}

@keyframes fadein {
  from {opacity: 0;}
   to {opacity: 1;}
 }
@keyframes fadeout {
  from {opacity: 1;}
   to {opacity: 0;}
 }
.page1 {
  background: url(".pic/BG-PAGE-ONE.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background: black;
}

.page1-text{
      top: 80%;

}
.hair{
  right: 0;
  top: 45%;
  padding: 10px;
  margin: 30px;
  color: rgb(207, 21, 21);
}
.page2 {
    background: black;
}
.page3 {
    background: black;
}
.page4 {
    background: black;
}
.page5 {
    background: black;
}
.page6 {
  background: black;
}
body.slider__body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slider__container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.slider__page {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__indicators {
  position: absolute;
  right: 18px;
  top: 50%;
  z-index: 2;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider__indicator {
  display: block;
  width: 10px;
  height: 10px;
  margin: 10px 0;
  border-radius: 100px;
  background-color: #fff;
  cursor: default;
  opacity: 0.3;
}
.slider__indicator--active {
  opacity: 1;
}

nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all .5s;
}

nav ul{
  text-align: center;
}

nav ul li{
  display: inline-block;
  padding: 1.5% 2%;
  margin: 0 2%;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

#toggle-menu, .nav-label{
  display: none;
}

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (max-width: 300px){
  nav{
    padding: 2%;
  }

  nav ul{
    display: none;
  }

  nav ul li{
    width: 100%;
    margin: 0 auto;
  }

  .nav-label{
    padding: 3%;
    display: inline-block;
    background-color: #222;
    color:white;
  }
  nav ul li:hover{
    background-color: #fff;
    color:black;
  }
}

.fog {
  opacity: 1;
  position: fixed;
  width: 20%;
}

.fog1 {
  width: 50%;
  animation: fog-animation-1 40s linear infinite;
  animation-delay: 0s;
}

.fog2 {
  width: 80%;
  animation: fog-animation-2 20s linear infinite;
  animation-delay: 0s;
}

.fog3 {
  width: 200%;
  animation: fog-animation-3 50s linear infinite;
  animation-delay: 0s;
}

.fog4 {
  width: 70%;
  animation: fog-animation-4 30s linear infinite;
  animation-delay: 0s;
}

@keyframes pulse {
    0%, 100%   { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fog-animation-1 {
    0%   { top: -50%; left: -80%; opacity: 0.1; }
    100% { top:  50%; left: 100%; }
}

@keyframes fog-animation-2 {
    0%   { top:  50%; left: -50%; opacity: 0.1; }
    100% { top: -50%; left: 100%; }
}

@keyframes fog-animation-3 {
    0%   { top: 0; left: -60%; opacity: 0.2; }
    100% { top:  50%; left: 120%; }
}
@keyframes fog-animation-4 {
  0%   { top: 0; left: -70%; opacity: 0.2; }
  100% { top:  50%; left: 120%; }
}

/* General CSS Setup */

/* container */

/* CSS talk bubble */
.talk-bubble-boy {
	margin: 40px;
  position: absolute;
  top:-50%;
	right: 140%;
	width: 9vw;
	height: auto;
	background-color: lightyellow;
}
.talk-bubble-girl {
	margin: 40px;
  display: inline-block;
  position: absolute;
  top:33%;
  right: 37%;
	width: 8vw;
	height: auto;
	background-color: lightyellow;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  font-size: 120%;
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.background_page1{
  position: absolute;
  bottom :0;
  left: 0;
  right: 0;
  top:0;
  animation: bg-expand 10s linear ;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes bg-expand {
    0%   {  right: 0; left:  0 ;width: 100%; height: 100%;  }
    100% {  right: -100% ; left: -25% ;width: 150%; height: 150%; ;
     }
}

.soundopen{
  opacity: 1;
  position: absolute;
  left:-20%;
/* button */
button{
  position: absolute;
  top: 40%;
  width: 100px;
  height: 50px;
  right: 20%;
  cursor: pointer;
}